body {
    background-color: rgb(50, 40, 40);
    color: white;
}


#login-screen {
    text-align: center;
    width: 100%;
    height: 100vh;
    display: block;
    z-index: 1;
    background-color: black;
}

#login-box {
    text-align: center;
    width: 200px;
    background-color: white;
    color: black;
    line-height: 30px;
}

.submit-button {
    background-color: blue;
    color: white;
    border-radius: 50px;
    margin-top: 20px;
    padding: 5px;
    line-height: 30px;
    width: 100px;
}
